body {
    background-color: black;
}

.title {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}

.sort-body {
    /* background-color: rgb(91, 181, 181); */
    position: absolute;
    top: 5rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    height: calc(100vh - 7rem);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
}

.sort-item {
    flex-grow: 1;
    background-color: royalblue;
    outline: 1px solid black;
    position: relative;
}

.sort-item span {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 3rem;
}

.alt {
    background-color: rgb(255, 221, 0);
}

.console-message {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 16px;
    color: darkgray;
}

.back-link {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}

.back-link:hover {
    color: royalblue;
}