@font-face {
    font-family: 'Flipnote';
    src: url("./fonts/flipnote_font.ttf");
}

.flipnote-font {
    font-family: 'Flipnote';
}

@font-face {
    font-family: 'KitKat';
    src: url("./fonts/KittyKatt.ttf");
}

.kitkat-font {
    font-family: 'KitKat';
}

@font-face {
    font-family: 'Pretendo';
    src: url("./fonts/Pretendo.ttf");
}

.pretendo-font {
    font-family: 'Pretendo';
}

@font-face {
    font-family: 'NintenDS';
    src: url("./fonts/Nintendo-DS-BIOS.ttf");
}

.nintends-font {
    font-family: 'NintenDS';
}

@font-face {
    font-family: 'Zelda';
    src: url("./fonts/Triforce.ttf");
}

.zelda-font {
    font-family: 'Zelda';
}

@font-face {
    font-family: 'zotw';
    src: url("./fonts/The\ Wild\ Breath\ of\ Zelda.otf");
}

.zotw-font {
    font-family: 'zotw';
}

@font-face {
    font-family: 'CastleCrash';
    src: url("./fonts/CastleCrashers.ttf");
}

.castle-crash-font {
    font-family: 'CastleCrash';
}