@font-face {
    font-family: 'Flipnote';
    src: url("../fonts/flipnote_font.ttf");
}

.flipnote-font {
    font-family: 'Flipnote';
}

@font-face {
    font-family: 'KitKat';
    src: url("../fonts/KittyKatt.ttf");
}

.kitkat-font {
    font-family: 'KitKat';
}