@keyframes background-scroll {
    from {
        background-position: var(--starting-position);
    }

    to {
        background-position: var(--ending-position);
    }
}


.hexBackground {
    --starting-position: 0px 0px;
    --ending-position: 0px 0px;
    --background-size: 1920px 1080px;
    background-image: url("../img/tiledIllusion.png");
    /* background-size: 150px 131.25px; */
    /* background-image: url("https://getwallpapers.com/wallpaper/full/e/c/1/17575.jpg"); */
    background-size: var(--background-size);
    /* aspect-ratio: 600/525; */
    /* animation: background-scroll 5s linear infinite; */
}

.hb-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}