body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #155bff;
    font-weight: 600;
    transition: all 0.2s;
}

a:hover {
    color: #00aeff;
}

.page-body {
    background-color: #baf;
    background-image: url("../img/space-bg-2.gif");
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body {
    width: 800px;
    min-height: 500px;
    /* background-color: #f00; */
    border-radius: 10px;
    transition: all 0.5s;
    /* margin-top: 50px; */
    margin-bottom: 25px;
}

.header {
    height: 50px;
    /* background-color: #0f0; */
    text-align: center;
    font-size: 3rem;
    display: block;
}

.flex-tricolumn {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    /* height: 465px; */
    /* background-color: #e2b; */
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    /* background-color: #0e0; */
}

.risen-column {
    /* transform: translateY(-85px); */
    height: 550px;
}

.wide-column {
    width: 450px;
    /* background-color: #66f; */
}

.square {
    width: 150px;
    height: 150px;
    background-color: #0c9617;
}

.profile-picture-container {
    width: 200px;
    height: 200px;
    background-color: #bcbcff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    outline: double 5px #000;
    outline-offset: -5px;
    background-image: url("../img/hexabump.png");
    margin-bottom: 10px;
}

.profile-picture {
    width: 120px;
    outline: 3px black solid;
    outline-offset: -3px;
    filter: hue-rotate(25deg);
}

.profile-label {
    margin-top: -2px;
    width: 150px;
    background-color: #d5e3ff;
    height: 3rem;
    font-size: 1.5rem;
    border: double 5px #000;
}

.updates-todo-container {
    width: 150px;
    height: 300px;
    background-color: #66f;
}

.welcome-container {
    width: calc(400px - 2rem);
    height: 300px;
    background-color: #245898;
    padding: 1rem;
    overflow-y: auto;
}

.welcome-container>h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 250px;
    /* background-color: rgb(173, 34, 238); */
}

.guestbook-container {
    width: 150px;
    height: 225px;
    background-color: #0c9617;
    border-radius: 1px 10px 10px 1px;
}

.flex-row-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 175px;
    background-color: rgb(34, 238, 102);
}

.links-container {
    width: 150px;
    height: 300px;
    background-color: #0ff;
}

.navigation-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.navigation-list a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.2s;
}

.navigation-list a:hover {
    color: #1a4cff;
}

.unfinished {
    color: #ff0000 !important;
}

.card {
    background-color: #d5e3ff;
    border: double 5px #000;
    outline-offset: -5px;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .body {
        width: 500px;
        margin-top: 7vh;
    }

    .header {
        width: 60%;
    }

    .risen-column {
        transform: translateY(0);
    }

    .wide-column {
        order: -1;
    }

    .flex-tricolumn {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .body {
        width: 300px;
        margin-top: 7vh;
    }

    .header {
        width: 100%;
    }

    .flex-tricolumn {
        flex-direction: column;
        align-items: center;
    }

    .wide-column {
        order: -1;
    }

    .wide-column,
    .welcome-container {
        width: 100%;
    }

    .updates-todo-container {
        display: none;
    }

    .risen-column {
        height: 100%;
    }
}