a {
    text-decoration: none;
    color: #155bff;
    font-weight: 600;
    transition: all 0.2s;
    cursor: pointer;
}

a:hover {
    color: #00aeff;
}

body {
    background-color: #baf;
    background-image: url("../img/space-bg-2.gif");
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.body {
    width: 800px;
    min-height: 500px;
    /* background-color: #f00; */
    border-radius: 10px;
    transition: all 0.5s;
    /* margin-top: 50px; */
    margin-bottom: 25px;
    z-index: 1;
}

.header {
    height: 50px;
    /* background-color: #0f0; */
    text-align: center;
    font-size: 3rem;
    display: block;
}

.flex-tricolumn {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    /* height: 465px; */
    /* background-color: #e2b; */
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    margin-top: 1rem;
    /* background-color: #0e0; */
}

.risen-column {
    transform: translateY(25px);
    height: 550px;
}

.wide-column {
    width: 450px;
    /* background-color: #66f; */
}

.square {
    width: 150px;
    height: 150px;
    background-color: #0c9617;
}

.profile-picture-container {
    width: 200px;
    height: 200px;
    background-color: #bcbcff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    outline: double 5px #000;
    outline-offset: -5px;
    background-image: url("../img/hexabump.png");
    margin-bottom: 10px;
}

.profile-picture {
    width: 120px;
    outline: 3px black solid;
    outline-offset: -3px;
    filter: hue-rotate(25deg);
}

.profile-label {
    margin-top: -2px;
    width: 150px;
    background-color: #d5e3ff;
    height: 3rem;
    font-size: 1.5rem;
    border: double 5px #000;
}

.title-text {
    color: red;
}

.left-long-container {
    width: 320px;
    height: 300px;
    align-self: flex-end;
    /* margin-left: -150px; */
    /* background-color: #66f; */
}

.switch-panel-content {
    overflow-y: auto;
    max-height: 350px;
}

.welcome-container {
    width: calc(400px - 2rem);
    /* height: 300px; */
    background-color: #245898;
    padding: 1rem;
    overflow-y: auto;
    position: relative;
}

.welcome-container>h1 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 10px;
}

#cat-1 {
    position: absolute;
    top: 70px;
    left: 50px;
    width: 40px;
    aspect-ratio: 1/1;
    image-rendering: pixelated;
}

#cat-2 {
    position: absolute;
    top: 70px;
    right: 50px;
    width: 40px;
    aspect-ratio: 1/1;
    image-rendering: pixelated;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 250px;
    /* background-color: rgb(173, 34, 238); */
}

.guestbook-container {
    width: 150px;
    height: 225px;
    background-color: #0c9617;
    border-radius: 1px 10px 10px 1px;
}

.flex-row-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 175px;
    background-color: rgb(34, 238, 102);
}

.links-container {
    width: 150px;
    padding: 10px 0 0 0;
    background-color: #0ff;
}

.navigation-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.navigation-list a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.2s;
}

.navigation-list a:hover {
    color: #1a4cff;
}

.unfinished {
    color: #ff0000 !important;
}

.card {
    background-color: #d5e3ff;
    border: double 5px #000;
    outline-offset: -5px;
    margin-bottom: 10px;
}

.todo-done {
    text-decoration: line-through;
    color: #000;
}

strong {
    font-weight: bold;
}

li {
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
    .body {
        width: 500px;
        margin-top: 7vh;
    }

    .header {
        width: 60%;
    }

    .risen-column {
        transform: translateY(0);
    }

    .wide-column {
        order: -1;
    }

    .flex-tricolumn {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .body {
        width: 300px;
        margin-top: 7vh;
    }

    .header {
        width: 100%;
    }

    .flex-tricolumn {
        flex-direction: column;
        align-items: center;
    }

    .wide-column {
        order: -1;
    }

    .wide-column,
    .welcome-container {
        width: 100%;
    }

    .updates-todo-container {
        display: none;
    }

    .risen-column {
        height: 100%;
    }
}

.flipnote-card {
    width: 150px;
    background-color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}

.flipnote-card:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 15px rgb(255, 255, 255);
}

#flipnote-frog {
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url("../img/flipnote/105651.gif");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

.buttons-n-blinkers {
    padding-top: 20px;
}

#link-img {
    height: 90%;
}

.tv-outer {
    width: 150px;
    height: 100px;
    position: relative;
    bottom: -40px;
}

.tv-screen-outer {
    background-image: url("../img/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

#ISS {
    height: 100px;
    transition: all 0.2s;
}

#ISS:hover {
    cursor: pointer;
}

.ISS-orbit {
    position: absolute;
    width: 900px;
    height: 100px;
    /* border: solid white 2px; */
    bottom: calc(280px - 50px);
    right: -170px;
    z-index: 0;
    transform: rotate(-45deg);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sleepCD {
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url("../img/New_Sleep_CD_Edit.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.sleepCD:hover {
    cursor: pointer;
    animation: spin 2s ease-in-out infinite;
}

.globe {
    position: absolute;
    background-image: url("../img/Rotating_earth_animated_transparent.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    bottom: 0;
    width: 600px;
    transform: translate(40%, 40%) rotate(30deg);
    aspect-ratio: 1/1;
    transition: all 0.2s;
    border-radius: 50%;
}

.globe:hover {
    cursor: pointer;
    box-shadow: 0 0 40px #3157ff inset;
    transform: translate(40%, 40%) rotate(30deg) scale(1.1);
}