body {
    --background: #2b2d3d;
    --outline: #212124;
    /* Color for top/left borders */
    --top-right-border: #37435c;
    /* Color for bottom/right borders */
    --bottom-left-border: #24201a;
    --line-width: 2.5px;
    /* Width of the lines */
    --grid-size: 27px;
    /* Size of the grid */
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    background-image:
        /* Cover Borders borders */
        linear-gradient(0deg, var(--outline) var(--line-width), transparent var(--line-width)),
        linear-gradient(90deg, var(--outline) var(--line-width), transparent var(--line-width)),
        /* Top/Right borders */
        linear-gradient(0deg, transparent calc(var(--grid-size) - var(--line-width)), var(--top-right-border) var(--line-width)),
        linear-gradient(90deg, transparent calc(var(--grid-size) - var(--line-width)), var(--top-right-border) var(--line-width)),
        /* Bottom/Left borders */
        linear-gradient(0deg, var(--bottom-left-border) calc(2*var(--line-width)), transparent calc(var(--line-width))),
        linear-gradient(90deg, var(--bottom-left-border) calc(2*var(--line-width)), transparent calc(var(--line-width)));
    background-size: var(--grid-size) var(--grid-size);
    background-position: 10px 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: "VT323", monospace;
    color: white;
}

h1 {
    font-size: 40px;
    color: #daf1fa;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    color: #daf1fa;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.center-insides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-flex-section {
    width: 900px;
    height: 100%;
    /* background-color: #8966e92f; */
}



.disc-menu-flex-section {
    width: 100%;
    height: 100%;
    /* background-color: #17ad3c36; */
    position: relative;
}

.info-card {
    position: relative;
    width: 500px;
    height: 600px;
    /* background-color: #2121247c; */
    border: solid 4px #0b0b0e;
    background-image: url(../img/New\ Piskel\ \(1\).png);
    /* filter: brightness(0.5); */
    background-size: 8px 8px;
    padding: 5px 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.controls p {
    cursor: pointer;
    transition: 0.2s;
    font-size: 30px;
}

.controls p:hover {
    color: #bec2fd;
    transform: scale(1.1);
}

.controls :first-child {
    position: absolute;
    left: 10px;
}

.controls :last-child {
    position: absolute;
    right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cd-image {
    position: absolute;
    top: calc(50% - 325px);
    left: 400px;
    width: 650px;
    aspect-ratio: 1/1;
    /* animation: spin 10s linear infinite; */
}

.disc-menu-flex-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    gap: 3px;
    font-size: 30px;
    width: 100%;
    color: #daf1fa;
}

li {
    cursor: pointer;
    transition: 0.2s;
    font-size: 35px;
}

li:hover {
    color: #bec2fd;
    transform: translate(5px, 0);
}

#sng-01 {
    position: relative;
    left: 240px;

}

#sng-02 {
    position: relative;
    left: 360px;
}

#sng-03 {
    position: relative;
    left: 280px;
}

#sng-04 {
    position: relative;
    left: 320px;
}

#sng-05 {
    position: relative;
    left: 265px;
}

#sng-06 {
    position: relative;
    left: 300px;
}

#sng-07 {
    position: relative;
    left: 345px;
}

#sng-08 {
    position: relative;
    left: 175px;
}

#sng-09 {
    position: relative;
    left: 45px;
}

#sng-10 {
    position: relative;
    left: 110px;
    text-align: right;
}

#sng-11 {
    position: relative;
    left: 180px;
}

#sng-12 {
    position: relative;
    left: 180px;
}

#sng-13 {
    position: relative;
    left: 250px;
}

#sng-14 {
    position: relative;
    left: 220px;
}

#sng-15 {
    position: relative;
    left: 75px;
}

#sng-16 {
    position: relative;
    left: 250px;
}

#sng-17 {
    position: relative;
    left: 410px;
}

.selected {
    list-style: square;
    color: #7880fc;
}