@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root {
    --switch-button-height: 40px;
}

.switch-panel {
    background-color: #bcbcf2;
    border: double 10px #7c7ce6;
    position: relative;
    display: inline-block;
    min-width: 300px;
    min-height: 300px;
    max-width: 500px;
    margin-top: 20px;
}

.switch-panel-button {
    --units-wide: 2;
    background-color: #bcbcf2;
    border: double 10px #7c7ce6;
    position: absolute;
    right: 1rem;
    top: -30px;
    width: calc(var(--units-wide)* var(--switch-button-height));
    height: var(--switch-button-height);
    display: flex;
    justify-content: space-between;
}

.switch-panel-button:hover {
    cursor: pointer;
}


.switch-panel-button:hover .switch-panel-button-indicator {
    background-color: #8181e8;
}

.switch-panel-button:active .switch-panel-button-indicator {
    background-color: #4c4ce6;
}

.switch-panel-slot {
    display: inline-block;
    height: var(--switch-button-height);
    width: var(--switch-button-height);
    background-color: #646fe1;
    text-align: center;
    line-height: var(--switch-button-height);
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.switch-panel-button-hidden {
    /* background-color: #6d73ec; */
    background-color: #00000000;
    background-image: none;
}

.sw-panel-hidden {
    display: none;
}

.switch-panel-content {
    padding: 1rem;
    padding-top: 2rem;
    overflow-y: auto;
}

.switch-panel-label-box {
    background-color: #bcbcf2;
    border: double 10px #7c7ce6;
    position: absolute;
    padding: 5px;
    left: 1rem;
    top: calc(-1*(1rem + 10px));
    height: 1rem;
    width: 100px;
}

.switch-panel-label-hidden {
    display: none;
}