.tv-outer {
    background-color: #282828;
    padding: 10px;
    border: 3px solid #1f1f1f;
    border-radius: 5px;
    min-width: 150px;
    min-height: 100px;
    position: relative;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.tv-screen-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 50% / 10%;
    background-color: #171717;
    background-position: center;
    overflow: hidden;
}

.tv-screen-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    background-size: inherit;
    border-radius: 5% / 50%;
    background-position: center;
}

.tv-control-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.tv-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(21, 18, 24);
}

.tv-legs {
    position: absolute;
    bottom: -10px;
    left: 30px;
    right: 30px;
    height: 10px;
    border-left: 30px solid rgb(17, 15, 19);
    border-right: 30px solid rgb(17, 15, 19);
    /* background-color: rgb(17, 15, 19); */
    border-radius: 5px;
}

.tv-antenna-base {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 50%;
    height: 40px;
    background-color: rgb(21, 18, 24);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: translateX(-50%);
}

.tv-antenna-base-cover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: #282828;
}

.tv-antenna {
    width: 5px;
    height: 80px;
    background-color: rgb(147, 147, 148);
    position: absolute;
}

.tv-antenna-ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(44, 44, 66);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.tv-ant-a {
    top: -70px;
    left: 25%;
    transform: rotate(-20deg);
}

.tv-ant-b {
    top: -70px;
    left: 75%;
    transform: rotate(20deg);
}

.tv-fullscreen {
    width: 100%;
    height: 100%;
}