/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------------ */

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    /* This sets the base color similar to what's seen in your image */
    background-image: linear-gradient(90deg, #e7f1fb 2px, transparent 2px),
        linear-gradient(180deg, #e7f1fb 2px, transparent 2px);
    background-size: 30px 30px;
    /* This sets the size of each square in the grid */
    background-position: 9px 6px;
    /* This sets the position of the grid */
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-size: 4rem;
    font-family: 'Flipnote';
    color: #ff6300;
}

#title {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

#controlPanel {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #ff6300 7px solid;
    align-self: flex-end;
    margin: 3rem 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
}

b {
    font-weight: bold;
}

#canvasWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #ff6300 7px solid;
}

#backLink {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.5rem;
}

#backLink a {
    color: #ff6300;
    text-decoration: none;
}

#backLink a:hover {
    text-decoration: underline;
}

#backLink a:visited {
    color: #ff6300;
}

button {
    padding: 0.5rem 0;
    background-color: #ff6300;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
    font-size: 1rem;
}

button:hover {
    background-color: #86bc3b;
}

button.green {
    background-color: #86bc3b;
}

button.green:hover {
    background-color: #002fff;
}

button.active {
    background-color: #86bc3b;
}

button.active:hover {
    background-color: #ff6300;
}