[submodule "Homepage"]
	path = Homepage
	url = https://github.com/alexbatesdev/Homepage.git
[submodule "DarknessMaze"]
	path = DarknessMaze
	url = https://github.com/alexbatesdev/DarknessMaze.git
[submodule "NekkoPlat"]
	path = NekkoPlat
	url = https://github.com/alexbatesdev/NekkoPlat.git
