/* This file defines how custom elements will look like, setting CSS that breaks main nekoweb site on purpose is prohibited and may result in ban and site deletion! */

/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
    text-align: right;
    background-image: url("https://piinro.nekoweb.org/piinro.nekoweb.org/img/pattern%20239.gif");
    /* Only nekoweb URLs allowed, use full url to your site like https://example.nekoweb.org/images/coolbg.png */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #c9c9fb;
    font-size: 12px;
    position: relative;
    transition: all ease-in-out 0.25s;
    border-radius: 4px;
}

.site-box:hover {
    transform: scale(1.05);
}

.site-box>a>p {
    color: #c9c9fb;
    font-weight: bold;
    padding-right: 5px;
}

.site-box>a>p>span.follow {
    color: #f5f5a5;
}

.site-box>a>span {
    color: #c9c9fb;
    padding-right: 10px;
    font-size: 1.25rem;
}