body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/pattern\ 155.gif);
    z-index: -2;
}

.background {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    padding: 1rem;
    position: relative;
    border: 1px solid black;
    border-radius: 1px;
}

.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/pattern\ 63.gif);
    z-index: -1;
    filter: contrast(0.2) brightness(1.9);
}

.text {

}


.music_player_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2f2d31;
    padding: 1rem;
}

#back {
    position: absolute;
    left: 0;
    top: 0;
    image-rendering: pixelated;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px #000000);
}

/* ------------------------------------------------------------- */

/* CSS for marquee scrolling effect */
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Styles for track and artist names */
#SP-track-name, #SP-artist-name {
    display: inline-block;
}

#SP-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #470808;
    padding: 1rem;
    color: white;
    max-width: 330px;
}

#SP-track-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #270404;
    padding: 0;
    padding-bottom: 2rem;
    width: 100%;
    position: relative;
}

#SP-track {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.25rem;
    width: 100%;
}

#SP-artist {
    font-size: 1.25rem;
    padding: 0.25rem;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
}

#SP-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    background-color: #270404;
    padding: 0 0.5rem;
    width: calc(100% - 1rem);
}

#progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: #ff0000;
    margin-bottom: 0.8rem;
}

#progress-bar-fill {
    height: 100%;
    background-color: #0099ff;
    width: 50%;
}

#progress-bar-knob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.75rem;
    height: 0.75rem;
    background-color: #e100ff;
    border-radius: 50%;
}

#SP-button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #080427;
    padding: 1rem 0;
    gap: 1rem;
}

.SP-button {
    background-color: #ff0000;
    color: white;
    padding: 0.25rem 0.75rem;
    border: none;
    cursor: pointer;
}