@font-face {
    font-family: 'Flipnote';
    src: url("./fonts/flipnote_font.ttf");
}

.flipnote-font {
    font-family: 'Flipnote';
}

@font-face {
    font-family: 'Pixel';
    src: url("./fonts/Super-Mario-World.ttf");
}

.pixel-font {
    font-family: 'Pixel';
}

@font-face {
    font-family: 'KitKat';
    src: url("./fonts/KittyKatt.ttf");
}

.kitkat-font {
    font-family: 'KitKat';
}

@font-face {
    font-family: 'Pretendo';
    src: url("./fonts/Pretendo.ttf");
}

.pretendo-font {
    font-family: 'Pretendo';
}