/* ========== ELEMENT SELECTORS ====== */

:root {
  --baseTransformation: translate(-50%, -50%);
  --scaleFactor: 1.5;
}

html {
    background-color: black;
}

body {
  margin: 0;
}

/* ========== ANIMATIONS ============= */

@keyframes SPIN {
  from {
    transform: var(--baseTransformation) rotate(0deg);
  }
  to {
    transform: var(--baseTransformation) rotate(360deg);
  }
}

/* ========== CLASSES ================ */

.the-great-beyond {
  position: absolute;
  width: 5000px;
  height: 5000px;
  overflow: hidden;
}

.space-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  image-rendering: pixelated;
  filter: brightness(0.55);
}

.plax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.floater {
  width: calc(var(--img-width, 50px) * var(--scaleFactor, 1));
}

.stuster-a {
  --img-width: 3048px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: SPIN 2400s linear infinite;
}

.stuster-b {
  --img-width: 1340px;
  width: calc(var(--img-width) * var(--scaleFactor, 1));
  height: auto;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: SPIN 2400s linear infinite;
}

.stuster-c {
  --img-width: 512px;
  width: calc(var(--img-width) * var(--scaleFactor, 1));
  height: auto;
  position: absolute;
  top: 80%;
  left: 20%;
  animation: SPIN 2400s linear infinite;
}