/* ========== ELEMENT SELECTORS ====== */

:root {
  --baseTransformation: ;
}

body {
  margin: 0;
}

/* ========== ANIMATIONS ============= */

@keyframes SPIN {
  from {
    transform: var(--baseTransformation) rotate(0deg);
  }
  to {
    transform: var(--baseTransformation) rotate(360deg);
  }
}

/* ========== CLASSES ================ */

.the-great-beyond {
  background-color: black;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/dblue003.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 250vmax;
  height: 250vmax;
  overflow: hidden;
}

.deep-field {
  --baseTransformation: translate(-50%, -50%);
  position: absolute;
  top: 125vmax;
  left: 125vmax;
  animation: SPIN 2400s linear infinite;
  /* width: calc(2048px * 1.25);
  height: auto; */
}

.deep-field-remix {
  position: absolute;
  top: 3vmax;
  left: 3vmax;
  animation: SPIN 2400s linear infinite;
  /* width: calc(2048px * 1.25);
  height: auto; */
}