body {
    background-color: #EC2227;
    color: #fff;
    min-height: calc(100vh - 50px);
    position: relative;
    padding-top: 50px;
    box-shadow: inset 0px 85px 40px -20px #000;
    background-image: linear-gradient(90deg, #b51214 25%, #9c1618 25%, #9c1618 50%, #b51214 50%, #b51214 75%, #9c1618 75%, #9c1618 100%);
    background-size: 43.00px 10.00px;
}



h1 {
    font-size: 5em;
    padding: 50px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
}

h2 {
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#review-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 0 150px 0;
    gap: 20px;
    z-index: 1;
}

.review {
    background-color: white;
    padding: 20px;
    color: black;
    width: 666px;
    box-shadow: 7px 7px 0px #000;
}

.review-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-body p {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-grow: 0;
}

.review-body img {
    width: 300px;
    aspect-ratio: 16/9;
    flex-grow: 1;
    border: 2px solid black;
    border-radius: 10px;
}

.bottom-frill {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/banner_spacer.gif");
    background-repeat: repeat-x;
    height: 75px;
}

.bottom-frill::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 30px;
    box-shadow: 0px 0px 40px 15px #000;
    z-index: -1;
}

.bottom-deco {
    position: absolute;
    right: 50px;
    bottom: 0px;
    /* background-image: url(../img/banner_deco.gif); */
    width: 295px;
    height: 100px;
}

.bottom-deco::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/banner_deco_crop.gif);
}

.top-frill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    z-index: 1;
}

.top-frill::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../img/banner_spacer.gif");
    background-repeat: repeat-x;
    transform: rotate(180deg);
}

.back-button {
    position: absolute;
    left: 50px;
    top: -20px;
    background-image: url(../img/banner_deco_blank.png);
    width: 295px;
    height: 120px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button:hover {
    scale: 1.1;
    transform: translate(0px, 3px);
    cursor: pointer;
}

.back-button a {
    font-size: 2em;
    color: #EC2227;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -25px;
    right: -10px;
    transform: rotate(-10deg);
}