body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    /* This sets the base color similar to what's seen in your image */
    background-image: linear-gradient(90deg, #e7f1fb 2px, transparent 2px),
        linear-gradient(180deg, #e7f1fb 2px, transparent 2px);
    background-size: 30px 30px;
    /* This sets the size of each square in the grid */
    background-position: 9px 6px;
    /* This sets the position of the grid */

    display: flex;
    overflow: hidden;
    position: relative;
}

h1 {
    font-size: 4rem;
    margin: auto;
    font-family: 'Flipnote';
    position: absolute;
    top: 2rem;
    left: 130px;
    color: #ff6300;
}

b {
    font-weight: bold;
}

.center-insides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 100px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 10px;
}

.arrow-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 125px;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); */
    z-index: 1;
}

#arrow-left {
    left: 1rem;
    background-image: url("../img/flipnote/flipnote_arrow_flip.png");
}

#arrow-right {
    right: 1rem;
    background-image: url("../img/flipnote/flipnote_arrow.png");

}

.drawing-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 75px;
    text-align: center;
    top: 55%;
}

.drawing-outer {
    background-color: #ff6300;
    padding: 7px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    transition: transform 0.2s;
    z-index: 0;
    box-shadow: 0px 3px 10px -3px rgb(0, 0, 0);
    width: 320px;
}

.drawing-outer img {
    border-radius: 5px;
    width: 320px;
    height: 240px;
}

.drawing-outer:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.content > .drawing-page {
    position: absolute;
    left: 250%;
    transform: translate(-50%, -50%);
}

#pg-1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hidden {
    display: none;
}

.big-note {
    padding: 1rem;
    background-color: #ff6300;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    transition: transform 0.2s;
    width: 640px;
    height: 510px;
}

.big-note:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

.big-note img {
    width: calc(320px * 2);
    border-radius: 10px;
}

.big-note-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2d2d3c9d;
    z-index: 2;
}

.backside {
    background-color: white;
    color: black;
    border-radius: 7px;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: left;
    height: calc(100% - 2rem);
    line-height: 110%;
}

.backside>b {
    text-decoration-line: none;
}

#ringnote {
    position: absolute;
    top: 1rem;
    right: 20rem;
    background-color: greenyellow;
}

.info {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    font-family: 'Flipnote';
    color: #ff6300;
    background-color: white;
    border-radius: 50%;
    border: #ff6300 5px solid;
    width: 50px;
    aspect-ratio: 1/1;
    text-align: center;
    line-height: 50px;
    transition: transform 0.2s;
    user-select: none;
}

.info:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#info-div {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

h2 {
    font-size: 3rem;
    font-family: 'Flipnote';
    margin-bottom: 1rem;
}

a {
    color: #3b078f;
    text-decoration-line: none;
}

a:hover {
    color: #3b078f;
    text-decoration-line: underline;
}