name: FTP Upload

on:
  push:
    branches:
      - nekoweb

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true  # Ensure submodules are checked out
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Run FTP upload script
        env:
          FTP_HOST: "ftp.nekoweb.org:30000"
          FTP_USER: ${{ secrets.FTP_USERNAME }}
          FTP_PASS: ${{ secrets.FTP_PASSWORD }}
          FORCE_UPLOAD: "true"  # Set to "true" to enable force upload
        run: python .github/scripts/ftp_upload.py