name: FTP Upload

on:
  push:
    branches:
      - nekoweb

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true  # Ensure submodules are checked out
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Run FTP upload script
        run: python .github/scripts/ftp_upload.py ftp.nekoweb.org:30000 ${{ secrets.FTP_USERNAME }} ${{ secrets.FTP_PASSWORD }} true